.git
.env*
**/.env*
**/secrets*.json
**/appsettings.*.Local.json
**/*.pfx
**/*.p12
**/*.pem
**/*.key
**/*.jks
**/*.keystore
**/*.p8
**/*.publishsettings
**/.npmrc
**/credentials*.json
**/service-account*.json
**/google-services.json
**/GoogleService-Info.plist
**/*.bak
**/*.bacpac
**/*.mdf
**/*.ldf
frontend/
docs/
infrastructure/
**/bin/
**/obj/
**/node_modules/
**/.next/
*.user
*.suo
